<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="message error"><%= errorMessage %></div>
        <% } else if (successMessage) { %>
            <div class="message"><%= successMessage %></div>
        <% } %>
        <div class="contentArea">
            <div class="accountInfo">
                <h1 class="accountTitle">Account Information</h1>

                <div class="accountLink">
                    <p class="subtitle">Orders</p>
                    <a href="/orders">View Orders</a>
                </div>
                
                <p class="subtitle">Username</p>
                <span class="emailLine"><%= customer.email %>     </span><a class="updateLink" href="/update-email">Update Email</a>
                <p class="subtitle">Address Information</p>
                <% if(address.firstname) { %>
                <div class="addressBlock">
                    <p><span class="infoLabel">First Name:&nbsp;</span><span><%= address.firstname %></span></p>
                    <p><span class="infoLabel">Last Name:&nbsp;</span><span><%= address.lastname %></span></p>
                    <div class="addressInfo"><span class="infoLabel">Address:&nbsp;</span> 
                                <div class="streetAddress">
                                <p><%= address.street %></p>
                                <p><%= address.line2 %></p>
                                <div class="lastLine"><span><%= address.city %>,&nbsp;</span><span><%= address.state %></span><span><%= address.zip %></span><br></div>
                                <a class="updateLink" href="/edit-address">Update Address</a></div></div>
                </div>
                <% } else { %>
                    <a href="/add-address">Add Shipping Address</a>
                <% } %>
            
            </div> 
        
            <div class="accountLink">
                <p class="subtitle">Reset Password</p>
                <a href="/reset">Reset Password</a>
            </div>
        
            <div class="accountLink">
                <p class="subtitle">Product Admin</p>
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add New Product</a><br>
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>